
  .about-page {
    background: linear-gradient(to right, #01012e, #02befd);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    border-radius: 10px;
    background-color: #fff;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    color: #343a40;
    font-weight: bold;
    font-family: 'Courier New', monospace;
  }
  
  h5 {
    color: #0c8dff;
  }
  
  p {
    color: #0af00a;
    line-height: 1.6;
    text-align: center;
  }
  strong{
    color:red;
  }
  
  hr {
    border-top: 1px solid #dee2e6;
  }
  