.page {
    background: linear-gradient(to right, #01012e, #02befd);
    min-height: 100vh;
    display: flex;
    align-items: top;
    justify-content: center;
  }

  .lable-color{
    color: white;
  }
